:root {
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #1e252b;
}
header {
  padding: 25px 0px;
}
footer::before {
  content: '';
  display: block;
  background: rgba(255, 255, 255, 0.15);
  width: 100%;
  height: 0.5px;
  /*  */
  margin-bottom: 70px;
}

nav {
  margin-right: 190px;
}
/*  */
.container {
  margin: 0 auto;
  max-width: 1260px;
  padding: 0px 15px;
}
.flexdiv {
  display: flex;
  align-items: center;
}
/* header starts */
.logo-header {
  display: flex;
  align-items: center;
  margin-right: 260px;
}
.logo-header > p {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.svg-logoheader {
  width: 19.377px;
  height: 20.949px;
  margin-right: 21px;
  fill: #ffffff;
}
.nav-ul {
  display: flex;
  align-items: center;
}
.nav-li:not(:last-child) {
  /*  */
  margin-right: 30px;
}
.nav-link > p {
  color: rgba(255, 255, 255, 0.55);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.link-svg {
  display: flex;
  align-items: center;
}

.svg-nav {
  stroke: rgba(255, 255, 255, 0.55);
  width: 18px;
  height: 18px;
}

.ul-system {
  display: flex;
  align-items: center;
}
.ul-system > li:not(:last-child) {
  margin-right: 40px;
}
.login > p {
  color: rgba(255, 255, 255, 0.78);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  opacity: 0.78;
}
.li-button {
  border-radius: 8px;
  background: #ff6e30;
  padding: 12px 28px;
}

.signup > p {
  color: #fdf5ff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/*  */
/* .signup {
  width: 118px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff6e30;
} */
/* main begins */
/* hero */
.section-hero {
  padding-top: 30px;
}
.container-hero {
  max-width: 1245px;
  padding-left: 15px;
  /* як зробити такий контейнер */
  margin: 0 auto;
}
.flexdiv-hero {
  display: flex;
  justify-content: space-between;
}
.hero-svg {
  width: 36px;
  height: 36px;
}
.interactiveHeader-div > h2 {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  width: 600px;
  margin-bottom: 30px;
  line-height: 140%;
}
.interactiveHeader-div > p {
  color: rgba(255, 255, 255, 0.55);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  width: 487px;
  line-height: 30px;
  margin-bottom: 60px;
}
.point {
  color: #ff6e30;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
/* input hero */
.wrapper-form {
  position: relative;
}
.wrapper-input {
  width: 500px;
  height: 64px;
  border-radius: 15px;
  background: #283036;

  padding: 8px 0px;
  padding-left: 55px;
  /*  */
}
.wrapper-input::placeholder {
  color: rgba(255, 255, 255, 0.38);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.wrapper-button {
  position: absolute;
  right: 11px;
  padding: 12px 36px;
  border-radius: 8px;
  background: #ff6e30;
}
.wrapper-button > p {
  color: #fff;
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.search-hero {
  position: absolute;
  left: 11px;
  /*  */
  top: -4.5px;
  width: 24.08px;
  height: 24px;
  left: 18px;
  stroke: rgba(255, 255, 255, 0.38);
}
.illustration-hero {
  width: 589px;
  height: 568px;
}

.linkdiv-ul {
  display: flex;
  margin-top: 120px;
}
.linkdiv-ul > li:not(:last-child) {
  margin-right: 30px;
}
/* Newcomer tools */

/* brands */
.brands-section {
  padding: 100px 0px;
}
.backgroundBrands-div {
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  background: rgba(44, 53, 61, 0.2);
  backdrop-filter: blur(25px);
  padding: 55px 83px;
}
.brands-h3 {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Poppins';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin-bottom: 55px;
}
.brands-ul {
  display: flex;
}
.brands-ul > li:not(:last-child) {
  margin-right: 105px;
}
.first-brand {
  width: 193px;
  height: 42px;
}
.second-brand {
  width: 157px;
  height: 51px;
}
.third-brand {
  width: 194px;
  height: 49px;
}
.fourth-brand {
  width: 194px;
  height: 44px;
}
/* footer starts */
footer {
  /*  */
  padding-bottom: 100px;
}
.flexdiv-footer {
  display: flex;
}
.copyright {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}
.description {
  color: rgba(255, 255, 255, 0.55);
  font-family: 'Poppins';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 178.571% */
}
.footer-container {
  max-width: 1260px;
  /*  */
  margin: 0 auto;
  padding-right: 15px;
}
.companyinfo-div {
  width: 260px;
  margin-right: 160px;
}
.footerlogo-div {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.footerlogo-div > p {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Poppins';
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footer-logo {
  width: 38px;
  height: 38px;
}

.contactus-ul > li:not(:last-child) {
  margin-bottom: 10px;
}
[href='tel:+621987463'] > p {
  color: rgba(255, 255, 255, 0.55);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.p {
  color: rgba(255, 255, 255, 0.55);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
[href='mailto:antools@awesome.com'] > p {
  color: rgba(255, 255, 255, 0.55);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.h3 {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}
.categories-ul > li:not(:last-child) {
  margin-bottom: 10px;
}
.categories-a {
  color: rgba(255, 255, 255, 0.55);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.div-nth:not(:last-child) {
  margin-right: 110px;
}
